<div fxLayoutAlign="center center" fxFlexFill>
  <mat-card class="mat-elevation-z12" fxFlex.xs="100" fxFlex.gt-xs="35">
    <h2>Forgot Password</h2>
    <form
      (submit)="onSubmit(fpForm)"
      #fpForm="ngForm"
      fxLayoutAlign="stretch"
      fxLayout="column"
      class="login-form"
    >
      <mat-form-field>
        <input
          matInput
          name="email"
          ngModel
          type="email"
          placeholder="E-Mail Address"
          #emailInput="ngModel"
          required
          email
        />
        <mat-error *ngIf="emailInput.invalid"
          >Please enter a valid email!</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Choose One Security Question</mat-label>
        <mat-select name="questionId" ngModel>
          <mat-option
            *ngFor="let q of questionList"
            value="{{ q.questionId }}"
            >{{ q.question }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          name="answer"
          ngModel
          type="text"
          placeholder="Enter Your Answer"
          #answer="ngModel"
          required
        />
        <mat-error *ngIf="answer.invalid">Please enter a answer!</mat-error>
      </mat-form-field>
      <button
        mat-raised-button
        color="accent"
        type="submit"
        [disabled]="fpForm.invalid"
      >
        Submit
      </button>
    </form>
  </mat-card>
</div>
