<div fxLayoutAlign="center center" fxFlexFill>
  <mat-card class="mat-elevation-z12" fxFlex.xs="100" fxFlex.gt-xs="35">
    <h2>Update Password</h2>
    <form
      (submit)="updatePassword(updatePasswordForm)"
      #updatePasswordForm="ngForm"
      fxLayoutAlign="stretch"
      fxLayout="column"
      class="signup-form"
      autocomplete="off"
    >
      <mat-form-field>
        <input
          name="password"
          type="password"
          matInput
          placeholder="Password"
          ngModel
          #passwordInput="ngModel"
          required
          [type]="hide ? 'password' : 'text'"
        />
        <mat-icon matSuffix (click)="hide = !hide">{{
          hide ? "visibility_off" : "visibility"
        }}</mat-icon>
        <mat-error *ngIf="passwordInput.invalid"
          >Please enter valid Password</mat-error
        >
      </mat-form-field>

      <mat-form-field>
        <input
          name="confirm-password"
          type="password"
          matInput
          placeholder="Confirm Password"
          ngModel
          #confirmPasswordInput="ngModel"
          required
          ngValidateEqual="password"
          [type]="hideConfirm ? 'password' : 'text'"
        />
        <mat-icon matSuffix (click)="hideConfirm = !hideConfirm">{{
          hideConfirm ? "visibility_off" : "visibility"
        }}</mat-icon>
        <mat-error
          *ngIf="
            confirmPasswordInput.hasError('notEqual') && passwordInput.valid
          "
          >Please enter same password</mat-error
        >
      </mat-form-field>

      <button
        mat-raised-button
        color="accent"
        type="submit"
        [disabled]="updatePasswordForm.invalid"
      >
        Submit
      </button>
    </form>
  </mat-card>
</div>
