.background {
  background-color: #192b40;
  height: 59.2vh;
}
.student {
  min-height: 85vh;
  width: 400px;
  margin: 0 auto;
  position: relative;
}
.srvc_icon {
  width: 29px;
  position: absolute;
}
.openBookIcon {
  top: 20%;
  right: 0;
}
