table {
  width: 100%;
  padding: 1rem;
}

.mat-form-field {
  font-size: 14px;
  width: 40%;
  padding: 0.5rem;
  margin: 0 auto;
}

td,
th {
  width: 25%;
}

#user-table {
  margin: 1rem 1rem;
}

.mat-column-id {
  width: 32px;
  padding-right: 24px;
}

button {
  margin: 0 0.5rem;
}

h1 {
  text-align: center;
}
