<div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card fxFlex="100">
    <form
      (submit)="onSignup(signupForm)"
      #signupForm="ngForm"
      fxLayoutAlign="stretch"
      fxLayout="column"
      class="signup-form"
      autocomplete="off"
    >
      <mat-form-field>
        <input
          matInput
          name="firstName"
          ngModel
          type="text"
          placeholder="First Name"
          required
        />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          name="lastName"
          ngModel
          type="text"
          placeholder="Last Name"
        />
      </mat-form-field>

      <mat-form-field>
        <span matPrefix>+91 &nbsp;</span>
        <input
          matInput
          name="mobileNo"
          ngModel
          placeholder="Mobile No"
          required
          type="text"
          pattern="\d*"
          minlength="10"
          maxlength="10"
        />
      </mat-form-field>

      <div class="radio-group mb-3">
        <label id="example-radio-group-label">Pick User Type:</label>
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          name="userRole"
          ngModel
          #radioG="ngModel"
        >
          <mat-radio-button [checked]="true" value="student">
            Student
          </mat-radio-button>
          <mat-radio-button class="ml-3" value="tutor">
            Tutor
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <div
        *ngIf="radioG.viewModel == 'tutor'"
        fxLayoutAlign="stretch"
        fxLayout="column"
      >
        <mat-form-field>
          <input
            matInput
            name="technology"
            ngModel
            type="text"
            placeholder="Technology"
            #techInput="ngModel"
            required
          />
          <mat-error *ngIf="techInput.invalid"
            >Please enter a valid technology!</mat-error
          >
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            name="about"
            ngModel
            type="text"
            placeholder="About You"
            #aboutInput="ngModel"
            required
          />
          <mat-error *ngIf="aboutInput.invalid"
            >Please enter valid details about you!</mat-error
          >
        </mat-form-field>
      </div>

      <mat-form-field>
        <input
          matInput
          name="email"
          ngModel
          type="email"
          placeholder="E-Mail Address"
          #emailInput="ngModel"
          required
          email
        />
        <mat-error *ngIf="emailInput.invalid"
          >Please enter a valid email!</mat-error
        >
      </mat-form-field>

      <mat-form-field>
        <input
          name="password"
          type="password"
          matInput
          placeholder="Password"
          ngModel
          #passwordInput="ngModel"
          required
          [type]="hide ? 'password' : 'text'"
        />
        <mat-icon matSuffix (click)="hide = !hide">{{
          hide ? "visibility_off" : "visibility"
        }}</mat-icon>
        <mat-error *ngIf="passwordInput.invalid"
          >Please enter valid Password</mat-error
        >
      </mat-form-field>

      <mat-form-field>
        <input
          name="confirm-password"
          type="password"
          matInput
          placeholder="Confirm Password"
          ngModel
          #confirmPasswordInput="ngModel"
          required
          ngValidateEqual="password"
          [type]="hideConfirm ? 'password' : 'text'"
        />
        <mat-icon matSuffix (click)="hideConfirm = !hideConfirm">{{
          hideConfirm ? "visibility_off" : "visibility"
        }}</mat-icon>
        <mat-error
          *ngIf="
            confirmPasswordInput.hasError('notEqual') && passwordInput.valid
          "
          >Please enter same password</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Choose One Security Question</mat-label>
        <mat-select name="questionId" ngModel>
          <mat-option
            *ngFor="let q of questionList"
            value="{{ q.questionId }}"
            >{{ q.question }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          name="answer"
          ngModel
          type="text"
          placeholder="Enter Your Answer"
          #answer="ngModel"
          required
        />
        <mat-error *ngIf="answer.invalid">Please enter a answer!</mat-error>
      </mat-form-field>

      <button
        mat-raised-button
        color="accent"
        type="submit"
        [disabled]="signupForm.invalid"
      >
        Sign Up
      </button>
    </form>
  </mat-card>
</div>
